      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
       margin: 0;
       padding:0;
      }

      /* Wrapper for page content to push down footer */
      #wrapper {
        width: 360px;
      }

     
      #footer {
        background-color: #f5f5f5;
        padding-top : 10px;
        padding-bottom: 10px;
        text-align: center;
      }

       
     .credit {
        text-align : cemter;
      }